p {
    font-size: 9px;
}

/* Alertas */
.error{
    color:red;
}
.warning{
    color:orange;
}
.success{
    color:green;
}

/* Encabezados */
#header {background-color: #4a65c3;}

/* Tables */
#tcountry {
    margin-left: 0px;
}

#tcountry thead th{
    text-align: left;
    font-size: 14px;
    background-color: #4a65c3;
}

hr{
    margin-top: 50px;
}

.bg-arg{
    background-color: #58E6FF;
    color:blue;  
}